@charset "utf-8";


// 文本
// --------------------------------------------------
$font-family: "Microsoft Yahei", Tahoma, Arial, sans-serif;
//$font-family: "Helvetica Neue", Helvetica, sans-serif !default;

//字号
$font-size-normal: 16px;
$font-size-smaller: 14px;
$font-size-smallest: 12px;
$font-size-bigger: 18px;
$font-size-biggest: 24px;

//行高
$line-height: 1.5em;

//文本色
$text-color: #333333;
$text-lighter-color: #666666;
$text-lightest-color: #999999;


// 颜色
// --------------------------------------------------

$white:#fff;

//主色
$primary-color: #33b371;
$primary-active-color: #2fa166;
$primary-disabled-color: #9de1bc;
//辅色
$secondary-color: #fb5a5a;
$secondary-active-color: #ee4444;
$secondary-disabled-color: #ee9f92;

//灰色
$gray-darker: #333333;
$gray-dark: #666666;
$gray: #999999;
$gray-light: #f5f5f5;



//信息色
//success
$success-color: #71d445;
$success-active-color: #56bc2c;
$success-disabled-color: #b4e8a0;
//warning
$warning-color: #ff8a0c;
$warning-active-color: #e17400;
$warning-disabled-color: #fec283;
//danger
$danger-color: #fb5a5a;
$danger-active-color: #ee4444;
$danger-disabled-color: #ee9f92;


$body-background-color: #fff;
$placeholder-color: #cccccc; //#dbdbdb;
$border-color: #e5e5e5;
$active-background-color: #f8f8f8;






//=====================================================

$primary-color: #33B371;






