footer#page-footer.page-block
    section.site-map
        .content-wrapper
            .site-map-list
                nav
                    .map-title.current 热门推荐
                    .map-title 友情链接
                ul.map-list.current
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                ul.map-list
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
                    li
                        a(href='#') 客厅背景墙
    section.site-info
        .content-wrapper
            ul.site-link-list
                li
                    a(href='#') 关于我们
                li
                    a(href='#') 联系我们
                li
                    a(href='#') 媒体报道
                li
                    a(href='#') 服务条款
                li
                    a(href='#') 商务合作
                li
                    a(href='#') 3D云设计
            ul.app-list
                li
                    img(src=`${_static('data/image/qr_weixin.png')}`,alt='微信公众号二维码')
                    span.title 微信公众号
                li
                    img(src=`${_static('data/image/qr_fuwo_app.png')}`,alt='福窝APP二维码')
                    span.title 福窝APP
            p.statement
                span.disclaimer 免责声明：本网站部分内容由用户自行上传，如权利人发现存在误传其作品的情形，请及时与本站联系。
                span.copyright &copy;2017 Fuwo.com 上海爱福窝云技术有限公司保留所有权利
                span.record-info
                    a.link-icp(href='http://www.miitbeian.gov.cn/', rel='nofollow', target='_blank') 沪ICP备08102393号
                    a(href='http://www.anquan.org', key='57eb8040efbfb0388d273126', logo_size='83x30', logo_type='business', rel='nofollow')
                        script(src='//static.anquan.org/static/outer/js/aq_auth.js')