extends /_unit/base.pug


append data
    -   var pageTitle = '服务发生错误'


append style
    link(rel='stylesheet', type='text/css', href=`${_static('style/500.scss')}`)


block pageContent
    #page-content.page-block
        .content-wrapper
            pre.error #{stack}


append script
    script(src=`${_static('script/entry/500.js')}`)