extends /_unit/base.pug


append data
    - var pageTitle = '公装图册详情页'
    - var pageMountPoint = 'public'


append style
    link(rel='stylesheet', type='text/css', href=`${_static('style/public/detail.scss')}`)


block pageContent
    #page-content
        include /_unit/pic_player.pug
        include /_unit/pic_detail_side.pug


block pageFooter


append script
    script(src=`${_static('script/entry/public/detail.js')}`)