extends /_unit/base.pug


append data
    - var pageTitle = '家居美图详情页'
    - var pageMountPoint = 'photo'


append style
    link(rel='stylesheet', type='text/css', href=`${_static('style/photo/detail.scss')}`)


block pageContent
    #page-content
        include /_unit/pic_player.pug
        include /_unit/pic_detail_side.pug


block pageFooter


append script
    script(src=`${_static('script/entry/photo/detail.js')}`)