extends /_unit/base.pug


append data
    - var pageTitle = '标签详情页'
    - var pageMountPoint = 'tag'


append style
    link(rel='stylesheet',type='text/css',href=`${_static('style/tag/detail.scss')}`)


block pageContent
    #page-content.page-block
        section.banner-block
            .content-wrapper
                .banner
                    h1 灯具店门头装修效果图
                    p.desc 灯具店门头装修效果图专区-拥有最新最流行的灯具店门头装修效果图案例，汇聚灯具店门头装修效果图案例供业主参考，展示更多灯具店门头装修效果图的装修样板案例，爱福窝每日推荐装修效果图，总有你满意的装修效果图方案，更多设计方案可预约免费设计。
        setction.list-content-block
            .content-wrapper
                .block-title 灯具店门头装修效果图欣赏
                ul.pic-list
                    li
                        a(href='#', title='万科尚都荟135平效果图')
                            .image-box
                                img(src='http://img.fuwo.com/attachment/1612/29/76de9da8cdbd11e6bfe800163e000ee8.jpg@!300x225.jpg')
                            .title 万科尚都荟135平效果图
                            .count 10张
                    li
                        a(href='#', title='万科尚都荟135平效果图')
                            .image-box
                                img(src='http://img.fuwo.com/attachment/1612/29/76de9da8cdbd11e6bfe800163e000ee8.jpg@!300x225.jpg')
                            .title 万科尚都荟135平效果图
                    li
                        a(href='#', title='万科尚都荟135平效果图')
                            .image-box
                                img(src='http://img.fuwo.com/attachment/1612/29/76de9da8cdbd11e6bfe800163e000ee8.jpg@!300x225.jpg')
                            .title 万科尚都荟135平效果图
                    li
                        a(href='#', title='万科尚都荟135平效果图')
                            .image-box
                                img(src='http://img.fuwo.com/attachment/1612/29/76de9da8cdbd11e6bfe800163e000ee8.jpg@!300x225.jpg')
                            .title 万科尚都荟135平效果图
                    li
                        a(href='#', title='万科尚都荟135平效果图')
                            .image-box
                                img(src='http://img.fuwo.com/attachment/1612/29/76de9da8cdbd11e6bfe800163e000ee8.jpg@!300x225.jpg')
                            .title 万科尚都荟135平效果图
                    li
                        a(href='#', title='万科尚都荟135平效果图')
                            .image-box
                                img(src='http://img.fuwo.com/attachment/1612/29/76de9da8cdbd11e6bfe800163e000ee8.jpg@!300x225.jpg')
                            .title 万科尚都荟135平效果图
                            .count 10张
                    li
                        a(href='#', title='万科尚都荟135平效果图')
                            .image-box
                                img(src='http://img.fuwo.com/attachment/1612/29/76de9da8cdbd11e6bfe800163e000ee8.jpg@!300x225.jpg')
                            .title 万科尚都荟135平效果图
                    li
                        a(href='#', title='万科尚都荟135平效果图')
                            .image-box
                                img(src='http://img.fuwo.com/attachment/1612/29/76de9da8cdbd11e6bfe800163e000ee8.jpg@!300x225.jpg')
                            .title 万科尚都荟135平效果图
                    li
                        a(href='#', title='万科尚都荟135平效果图')
                            .image-box
                                img(src='http://img.fuwo.com/attachment/1612/29/76de9da8cdbd11e6bfe800163e000ee8.jpg@!300x225.jpg')
                            .title 万科尚都荟135平效果图
                            .count 10张
                    li
                        a(href='#', title='万科尚都荟135平效果图')
                            .image-box
                                img(src='http://img.fuwo.com/attachment/1612/29/f7c3ffd0cdbd11e6bfe800163e000ee8.jpg@!300x225.jpg')
                            .title 万科尚都荟135平效果图
                    li
                        a(href='#', title='万科尚都荟135平效果图')
                            .image-box
                                img(src='http://img.fuwo.com/attachment/1612/29/76de9da8cdbd11e6bfe800163e000ee8.jpg@!300x225.jpg')
                            .title 万科尚都荟135平效果图
                            .count 10张
                    li
                        a(href='#', title='万科尚都荟135平效果图')
                            .image-box
                                img(src='http://img.fuwo.com/attachment/1612/29/76de9da8cdbd11e6bfe800163e000ee8.jpg@!300x225.jpg')
                            .title 万科尚都荟135平效果图
                    li
                        a(href='#', title='万科尚都荟135平效果图')
                            .image-box
                                img(src='http://img.fuwo.com/attachment/1612/29/76de9da8cdbd11e6bfe800163e000ee8.jpg@!300x225.jpg')
                            .title 万科尚都荟135平效果图
                            .count 10张
                    li
                        a(href='#', title='万科尚都荟135平效果图')
                            .image-box
                                img(src='http://img.fuwo.com/attachment/1612/29/76de9da8cdbd11e6bfe800163e000ee8.jpg@!300x225.jpg')
                            .title 万科尚都荟135平效果图
                            .count 10张
                    li
                        a(href='#', title='万科尚都荟135平效果图')
                            .image-box
                                img(src='http://img.fuwo.com/attachment/1612/29/76de9da8cdbd11e6bfe800163e000ee8.jpg@!300x225.jpg')
                            .title 万科尚都荟135平效果图
                    li
                        a(href='#', title='万科尚都荟135平效果图')
                            .image-box
                                img(src='http://img.fuwo.com/attachment/1612/29/76de9da8cdbd11e6bfe800163e000ee8.jpg@!300x225.jpg')
                            .title 万科尚都荟135平效果图
                    li
                        a(href='#', title='万科尚都荟135平效果图')
                            .image-box
                                img(src='http://img.fuwo.com/attachment/1612/29/76de9da8cdbd11e6bfe800163e000ee8.jpg@!300x225.jpg')
                            .title 万科尚都荟135平效果图
                            .count 10张
                    li
                        a(href='#', title='万科尚都荟135平效果图')
                            .image-box
                                img(src='http://img.fuwo.com/attachment/1612/29/76de9da8cdbd11e6bfe800163e000ee8.jpg@!300x225.jpg')
                            .title 万科尚都荟135平效果图
                    li
                        a(href='#', title='万科尚都荟135平效果图')
                            .image-box
                                img(src='http://img.fuwo.com/attachment/1612/29/76de9da8cdbd11e6bfe800163e000ee8.jpg@!300x225.jpg')
                            .title 万科尚都荟135平效果图
                            .count 10张
                    li
                        a(href='#', title='万科尚都荟135平效果图')
                            .image-box
                                img(src='http://img.fuwo.com/attachment/1612/29/f7c3ffd0cdbd11e6bfe800163e000ee8.jpg@!300x225.jpg')
                            .title 万科尚都荟135平效果图
                            .count 10张
                .pagination
                    a.page-btn.prev.disabled(href='#') 上一页
                    a.page-btn(href='#') 1
                    span.ellipsis(href='#') ...
                    a.page-btn(href='#') 3
                    a.page-btn(href='#') 4
                    a.page-btn.current(href='#') 5
                    a.page-btn(href='#') 6
                    a.page-btn(href='#') 7
                    span.ellipsis(href='#') ...
                    a.page-btn(href='#') 500
                    a.page-btn.next(href='#') 下一页





append script
    script(src=`${_static('script/entry/photo/list.js')}`)