extends /_unit/base.pug


append data
    - var pageTitle = '标签列表页'
    - var pageMountPoint = 'tag'


append style
    link(rel='stylesheet',type='text/css',href=`${_static('style/tag/list.scss')}`)


block pageContent
    #page-content.page-block
        section
            .content-wrapper
                .screen-block
                    nav.crumb-nav
                        .crumb-item
                            a.crumb-link(href='#') 装修效果图
                        .crumb-item
                            a.crumb-link(href='#') 标签大全
        section
            .content-wrapper
                .tag-nav
                    .label 按字母分类
                    ul
                        li
                            a(href='#') 推荐
                        li
                            a(href='#') A
                        li
                            a(href='#') B
                        li
                            a(href='#') C
                        li
                            a(href='#') D
                        li
                            a(href='#') E
                        li
                            a(href='#') F
                        li
                            a(href='#') G
                        li
                            a(href='#') H
                        li
                            a(href='#') I
                        li
                            a(href='#') J
                        li
                            a(href='#') K
                        li
                            a(href='#') L
                        li
                            a(href='#') M
                        li
                            a(href='#') N
                        li
                            a(href='#') O
                        li
                            a(href='#') P
                        li
                            a(href='#') Q
                        li
                            a(href='#') R
                        li
                            a(href='#') S
                        li
                            a(href='#') T
                        li
                            a(href='#') U
                        li
                            a(href='#') V
                        li
                            a(href='#') W
                        li
                            a(href='#') X
                        li
                            a(href='#') Y
                        li
                            a(href='#') Z
                        li
                            a(href='#') 0-9

        setction.list-content-block
            .content-wrapper
                ul.tag-list
                    li
                        a(href='#', title='万科尚都荟135平效果图') 万科尚都荟135平效果图
                    li
                        a(href='#', title='万科尚都荟135平效果图') 万科尚都荟
                    li
                        a(href='#', title='万科尚都荟135平效果图') 万科
                    li
                        a(href='#', title='万科尚都荟135平效果图') 万科尚都荟135平
                    li
                        a(href='#', title='万科尚都荟135平效果图') 万科尚都荟135平效果图
                    li
                        a(href='#', title='万科尚都荟135平效果图') 万科尚都荟135平效
                    li
                        a(href='#', title='万科尚都荟135平效果图') 万科尚都荟135平效果图万科尚都荟135平效果图
                    li
                        a(href='#', title='万科尚都荟135平效果图') 万科尚都
                    li
                        a(href='#', title='万科尚都荟135平效果图') 万科尚都荟135
                    li
                        a(href='#', title='万科尚都荟135平效果图') 万科尚都荟135平效
                    li
                        a(href='#', title='万科尚都荟135平效果图') 万科尚
                    li
                        a(href='#', title='万科尚都荟135平效果图') 万科尚都荟135平效果图万科尚都荟135平效果图
                    li
                        a(href='#', title='万科尚都荟135平效果图') 万科尚都荟135平效果图
                    li
                        a(href='#', title='万科尚都荟135平效果图') 万科尚都荟
                    li
                        a(href='#', title='万科尚都荟135平效果图') 万科
                    li
                        a(href='#', title='万科尚都荟135平效果图') 万科尚都
                    li
                        a(href='#', title='万科尚都荟135平效果图') 万科尚
                    li
                        a(href='#', title='万科尚都荟135平效果图') 万
                    li
                        a(href='#', title='万科尚都荟135平效果图') 万科尚都荟
                    li
                        a(href='#', title='万科尚都荟135平效果图') 万科尚都荟135平
                    li
                        a(href='#', title='万科尚都荟135平效果图') 万科尚都荟135平效果图
                    li
                        a(href='#', title='万科尚都荟135平效果图') 万科尚都荟
                    li
                        a(href='#', title='万科尚都荟135平效果图') 万科
                    li
                        a(href='#', title='万科尚都荟135平效果图') 万科尚都荟135平
                    li
                        a(href='#', title='万科尚都荟135平效果图') 万科尚都荟135平效果图
                    li
                        a(href='#', title='万科尚都荟135平效果图') 万科尚都荟135平效
                    li
                        a(href='#', title='万科尚都荟135平效果图') 万科尚都荟135平效果图万科尚都荟135平效果图
                    li
                        a(href='#', title='万科尚都荟135平效果图') 万科尚都
                    li
                        a(href='#', title='万科尚都荟135平效果图') 万科尚都荟135
                    li
                        a(href='#', title='万科尚都荟135平效果图') 万科尚都荟135平效
                    li
                        a(href='#', title='万科尚都荟135平效果图') 万科尚
                    li
                        a(href='#', title='万科尚都荟135平效果图') 万科尚都荟135平效果图万科尚都荟135平效果图
                    li
                        a(href='#', title='万科尚都荟135平效果图') 万科尚都荟135平效果图
                    li
                        a(href='#', title='万科尚都荟135平效果图') 万科尚都荟
                    li
                        a(href='#', title='万科尚都荟135平效果图') 万科
                    li
                        a(href='#', title='万科尚都荟135平效果图') 万科尚都
                    li
                        a(href='#', title='万科尚都荟135平效果图') 万科尚
                    li
                        a(href='#', title='万科尚都荟135平效果图') 万
                    li
                        a(href='#', title='万科尚都荟135平效果图') 万科尚都荟
                    li
                        a(href='#', title='万科尚都荟135平效果图') 万科尚都荟135平
                .pagination
                    a.page-btn.prev.disabled(href='#') 上一页
                    a.page-btn(href='#') 1
                    span.ellipsis(href='#') ...
                    a.page-btn(href='#') 3
                    a.page-btn(href='#') 4
                    a.page-btn.current(href='#') 5
                    a.page-btn(href='#') 6
                    a.page-btn(href='#') 7
                    span.ellipsis(href='#') ...
                    a.page-btn(href='#') 500
                    a.page-btn.next(href='#') 下一页





append script
    script(src=`${_static('script/entry/photo/list.js')}`)